<div>
  <h2>Your form inputs</h2>
  <h4>Full name</h4>
  <h3>
    <%= @full_name %>
  </h3>
  <h4>Favorite Food</h4>
  <h3>
    <%= @favorite_food %>
  </h3>
  <h4>Number of Dogs</h4>
  <h3>
    <%= @dog_count %>
  </h3>
</div>
